<!-- templates/registration/Login.html -->
{% extends 'base.html' %}

{% block title %}Add Owner{% endblock %}

{% block content %}
<h2>新增客戶</h2>
<form method='post'>
	{% csrf_token %}
	<form action="." method ="post" autocomplete="off">
	{{ form.as_p }}
	<div>
	<button type='submit'>確認</button>
	<button type='button'><a href="{% url 'home:home' %}">Home</a></button>
	</div>
{% endblock %}

<script>
	$(function() {
		$("#datetimepicker1").datetimepicker({
			format: 'DD/MM/YYYY'
		});
	});
</script>
